{% extends 'base.html' %}

{% block title %}Portfolio{% endblock %}

{% block header_img %}{{ url_for('static', filename='img/portfolio-bg.jpg') }}{% endblock %}
{% block header_title %}Portafolio{% endblock %}
{% block header_sub %}Currículo{% endblock %}

{% block content %}
	    <!-- Contenido Principal -->
	    <div class="container">
	      <!-- Proyecto -->
		  {% for project in projects %}
	      <div class="row project">  	
	      	<div class="col-lg-3 col-md-4 offset-lg-1">
			      <img class="img-fluid" src="{{ url_for('static', filename= project.image) }}" alt="">
	      	</div>
	        <div class="col-lg-7 col-md-8">
	      		<h2 class="section-heading title">{{ project.name }}</h2>   
	          <p>{{ project.description }}</p>
	          <p><a href="{{ project.url }}">Más información</a></p>
	      	</div>
	      </div>
		  {% endfor %}
		</div>

{% endblock %}